/* ****************************************************** */
/* *****************  GENERAL SETTINGS  ***************** */
/* ****************************************************** */
@font-face {
    /* font-family: 'HandyAndy'; */
    /* src: url(../font/HandyAndy.ttf); */
    font-family: 'EmiratesBold';
    src: url(../font/EmiratesBold.ttf);
}
* {
    box-sizing: border-box;
    /* cursor: url(https://cdn.custom-cursor.com/db/4655/32/arrow2662.png), pointer !important; */
    /* cursor: url(https://cdn.custom-cursor.com/db/4656/32/arrow2662.png) , default !important; */
    /* font-family: 'HandyAndy', sans-serif; */
    font-family: 'EmiratesBold', sans-serif;        
    font-size: 20px;             
    scroll-behavior: smooth;
    margin: 0;
    padding: 0;
}
html { 
    min-height: 100%; 
    position: relative; 
}
a{
    cursor: url(https://cdn.custom-cursor.com/db/4656/32/arrow2662.png) , pointer !important;
}
/* ****************************************************** */
/* ******************  BODY SETTINGS  ******************* */
/* ****************************************************** */
body {
    background: #FFEFBA;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #FFFFFF, #FFEFBA);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #FFFFFF, #FFEFBA); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    background: url(../images/texture1.jpg);
    min-height: 100%;
    display: flex; 
    flex-direction: column;
    /* overflow: hidden; */
}
/* ****************************************************** */
/* *****************  HEADER SETTINGS  ****************** */
/* ****************************************************** */
/* header{
    border: 2px solid rgb(0, 0, 0);
} */
#gatito {
    position: absolute;
    bottom: 0px;
    width: 110px;
    /* height: 100px; */
    transition: transform 0.5s;
    z-index: 10;
}
.MAX-header{
    background:url(../images/bar-texture1.jpg) 0 0;
    border-bottom: 1px solid #7f8285;
    background-color: #7c8694;
    position: fixed;
    width: 100%;
    height: 60px;
    display: flex;
    justify-content: center;
    z-index: 9999;
}
.header-title{
    font-family: Roboto, sans-serif;
    font-size: 45px;
    font-weight: 600;
    color: #fdfdfe;
    /* text-shadow: 0px 0px 5px #a5a4a7, 0px 0px 10px #a5a4a7, 0px 0px 10px #a5a4a7,
    0px 0px 20px #a5a4a7; */
    text-shadow: 1px 1px 1px #957dad,
             1px 2px 1px #957dad,
             1px 3px 1px #53a4da,
             1px 4px 1px #957dad,
             1px 5px 1px #957dad,
             1px 6px 1px #53a4da,
             1px 10px 5px rgba(16, 16, 16, 0.5),
             1px 15px 10px rgba(16, 16, 16, 0.4),
             1px 20px 30px rgba(16, 16, 16, 0.3),
             1px 25px 50px rgba(16, 16, 16, 0.2);
}
.header-title:hover{
    scale: 0.9;
}
.ht1{
    /* display: none; */
    display: initial;
}
.ht2{
    display: none;
    /* display: initial; */
}
.eye{
    /* width: 70px; */
    opacity: .6;
}
/* .eye1{
    margin-right: 15px;
}
.eye2{
    margin-left: 15px;
} */
/* ****************************************************** */
/* ******************  MAIN SETTINGS  ******************* */
/* ****************************************************** */
main{
    /* background-color: #000000; */
    display: flex;
    justify-content: center;
    align-items: center;
}
.MAX-main{
    /* border: 2px solid rgb(0, 0, 0); */
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
/* ****************************************************** */
/* ****************** LOADING SCREEN  ******************* */
/* ****************************************************** */
#loading-screen {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    /* opacity: .5; */
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #000000; 
    opacity: 1;
    transition: opacity 1s ease-out;
    z-index: 99999;
}
#image-wrapper{
    width: 100%;
    height: 100%;
    position: fixed;
    display: flex;
    justify-content: center;
    align-items: center;
    opacity: 1;
    transition: opacity 1s ease-out;
    z-index: 99999;
}
#max_img{
    width: 100%;
    height: 100%;
    object-fit: contain; 
}
.loading-text{
    position: absolute;
    font-size: 7vw;
    margin: 0, auto;
    margin-top: -100px ;
    color: yellow;
    text-align: center;
    text-shadow: 2px 2px 0 #ffa702, -2px -2px 0 #ffa702, 2px -2px 0 #ffa702, -2px 2px 0 #ffa702;
}
.loading-text.eng{
    margin-top: 100px;
}
/* ****************************************************** */
/* ************** COMMON SECTION SETTINGS  ************** */
/* ****************************************************** */
.MAX-section{
    width: 97%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
/* ****************************************************** */
.sec0, .sec1, .sec3{
    /* background: rgb(238,174,202); 
    background: linear-gradient(90deg, rgba(238,174,202,1) 0%, rgba(148,233,222,1) 100%); */
    width: 100%;
}
.sec0{
    display: none;
}
.MAX-img-wrapper-1 {
    /* border: 2px solid red; */
    margin-top: -150px;
    width: 100%;
    height: 80vw; 
    overflow: hidden;
    position: relative; 
}
.MAX-img-1{
    animation: kenburns 15s linear infinite;
    background-size: cover;
    background-position: 50%;
    width: 100%;
    height: 100%;
    inset: 0;
    opacity: 0;
    position: absolute;
    scale: 1.1;
}
.img-1{
    background: url(../images/MAX1a.webp);
    animation-delay: 0s;
}
.img-2{
    background: url(../images/MAX1b.webp);
    animation-delay: 4s;
}
.img-3{
    background: url(../images/MAX1c.webp);
    animation-delay: 7s;
}
.img-4{
    background: url(../images/MAX1d.webp);
    animation-delay: 11s;
}
@keyframes kenburns { 
    10% { opacity: 1; }
    25% { opacity: 1; } 
    30% { opacity: 0.99; scale: 1; } 
    35%{ opacity: .9; } 
    40%{ opacity: .0; } 
}

.MAX-image-container {
    position: relative;
    width: 100%; /* Ajusta según tus necesidades */
    height: 75vw; /* Ajusta según tus necesidades */
    overflow: hidden;
}

.MAX-image-container img {
    position: absolute;
    width: 100%;
    height: 100%;
    opacity: 0;
    transition: opacity 0.7s ease-in-out;
}
.MAX-image-container img.active {
    opacity: 1;
}
.MAX-article-1-wrapper{
    /* border:3px solid red; */
    display: flex;
    align-items: center;
    justify-content: center;
}
button:hover{
    cursor: url(https://cdn.custom-cursor.com/db/4656/32/arrow2662.png) , pointer !important;
}
.MAX-article-1{
    /* border: 1px solid red; */
    width: 96%;
    display: flex;
    justify-content: center;
    /* align-items: center; */
    flex-direction: column;
    margin-bottom: 50px;
}
.MAX-article-1 p.title{
    margin-top: 20px;
    font-size: 30px;
    text-align: center;
}
.MAX-article-1 p{
    hyphens: auto; 
    text-align: justify; 
    word-spacing: -0.5px;
    color: rgb(29, 28, 28);
    margin: 10px;
}
.hidden {
    opacity: 0;
    transition: opacity 2s ease-in-out;
}
.visible {
    opacity: 1;
}
.sec2{
    /* border: 2px solid red; */
    background-color: transparent;
    display: flex;
    position: relative;
}
.press_here {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
    opacity: 0;
    display: none;
    transition: opacity 0.5s ease-in-out;
    z-index: 100;
}
.press_here p{
    font-size: 42px;
    color: rgb(228, 192, 31);
    text-shadow: 2px 2px 0 #000, -2px -2px 0 #000, 2px -2px 0 #000, -2px 2px 0 #000;
}
.press_here img{
    width: 50%;
    display: block;
    margin: 0 auto;
}
.MAX-img-wrapper-2{
    /* border: 2px solid blue; */
    width: 100%;
    /* overflow: hidden; */
}
.MAX-img-wrapper-2 .carousel-cell{
    /* border: 2px solid black; */
    width: 25%; 
    height: 300px;
    padding: 5px;
}
.MAX-img-wrapper-2 img{
    width: 100%;
}
.MAX-img-wrapper-2 video{
    width: 100%;
}
#sec2a{
    margin-top:50px;
}
#sec2a .vidcell{
    height: 240px;
}
.sec3{
    /* background-color: rgb(85, 96, 146); */
    margin-top: 80px;
}
.MAX-img-wrapper-3{
    /* border: 2px solid red; */
    width: 100%;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
}
.MAX-img-3{
    width: 100%;
    opacity: .85;
}
.english{
    display: none;
}
.MAX-text {
    position: absolute;
    font-size:9vw; /* Ajusta según tus necesidades */
    color: rgb(228, 192, 31);
    text-shadow: 2px 2px 0 #000, -2px -2px 0 #000, 2px -2px 0 #000, -2px 2px 0 #000;
    opacity: 0;
    transition: opacity 6.5s ease-in-out, transform 6.5s ease-in-out;
}
.MAX-section.sec3.not-visible .MAX-text {
    opacity: 0;
    transform: scale(0.1);
}

.MAX-section.sec3.visible .MAX-text {
    opacity: 1;
    transform: scale(1);
}

/* ****************************************************** */
/* *****************  FOOTER SETTINGS  ****************** */
/* ****************************************************** */
footer {
    background-color: #000000; 
    position: relative;
    width: 100%;
    min-height: 50px;
    /* margin-top: 75px; */
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 1;
}
.MAX-footer{
    /* border: 2px solid rgb(0, 0, 0); */
    /* background:url(../images/fondo.gif) 0 0; */
    background-color: aliceblue;
    width: 100%;
    height: 50px;
    /* opacity: .9; */
    display: flex;
    justify-content: center;
    align-items: center;
}
.MAX-footer a{
    text-decoration: none;
}
.footer-text{
    /* color: #fdfdfe; */
    color: #000;
    font-family: Roboto, sans-serif;
    padding-left: 10px;
    padding-right: 10px;
    font-size: 12px;
    font-weight: 400;
    text-align: center;
}
.footer-text:hover{
    /* color: rgb(255, 255, 255); */
    font-weight: 500;
    scale: 1.1;
}
/* ****************************************************** */
/* *********************  UP - DOWN  ******************** */
/* ****************************************************** */
.arrow {
    position: fixed;
    width: 10%;
    transition: opacity 0.3s;
    cursor: url(https://cdn.custom-cursor.com/db/4656/32/arrow2662.png) , pointer !important;
    /* display: none; */
}
/* .arrow:hover {
    opacity: 1.0; 
} */
#gatoDOWN {
    top: 10px;
    right: 10px;
}
#gatoUP {
    position: absolute;
    bottom: 0px;
    right: 10px;
    opacity: 0;
}
/* ****************************************************** */
/* *******************  MEDIA QUERYS  ******************* */
/* ****************************************************** */
@media (max-width: 1200px){
    .sec0{
        display: initial;
    }
    .MAX-img-wrapper-1{
        display: none;
    }
}
@media (max-width: 1000px){
    #gatito {
        bottom: 5px;
        width: 70px;
    }
    .MAX-img-wrapper-2 .img{
        width: 50%; 
    }
}
@media (max-width: 800px){
    #gatito {
        bottom: 0px;
        width: 100px;
    }
    .MAX-section{
        width: 90%;
    }
    .sec0{
        display: initial;
    }
    .sec1, .sec3{
        /* background-color: beige; */
        width: 100%;
    }
    .MAX-img-wrapper-1{
        display: none;
    }
    .MAX-article-1 p{
        /* width: 90%; */
        padding-left: 11px;
        padding-right: 11px;
    }
    .MAX-img-wrapper-2 .img{
        width: 50%; 
    }
    .arrow {
        position: fixed;
        width: 15%;
        opacity: 0.5;
        transition: opacity 0.3s;
        z-index: 0;
    }
    .arrow:hover {
        opacity: 0.8;
    }
    #gatoDOWN {
        top: 20px;
        right: 10px;
    }
    #gatoUP {
        bottom: 9px;
        right: 10px;
    }
}
@media (max-width: 500px){
    #gatito {
        bottom: 5px;
        width: 75px;
    }
    .MAX-img-wrapper-2 .img{
        width: 100%; 
    }
    #gatoDOWN {
        top: 44px;
        right: 10px;
    }
    #gatoUP {
        bottom: 33px;
        right: 10px;
    }
    
}